<div class="container">
	<div class="row">
		<div class="col-md-12">

			<%= @user.email %>
			<div class="row">
				<% @user.things.each do |thing| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><%= thing.title %></h3>
						</div>
						<div class="panel-body">
							<%= thing.content %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= form_for @thing do |f| %>
					<%= f.label :title %>
					<%= f.text_field :title %>
					<%= f.label :content %>
					<%= f.text_field :content %>
					<%= f.label :user_id %>
					<%= f.number_field :user_id %>
					<%= f.submit "Add New Goal" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
