<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% if current_user.things.count > 0 %>
				<h1>Currently Learning</h1>
				<% end %>
			<div class="row">
				<% @user.things.each do |thing| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><%= thing.title %></h3>
						</div>
						<div class="panel-body">
							<%= thing.content %>
							<% thing.notes.each do |note| %>
								<li class="progress-note"><span class="light"><%= note.created_at.strftime('%b %e') %>:</span> <%= note.content %><span class="pull-right"><%= link_to "Edit" %></span></li>
							<% end %>
						</div>
						<div class="panel-body">
							<%= form_for [ thing, @note ] do |f| %>
								<%= f.text_field :content %>
								<%= f.submit "Add Progress Note" %>
							<% end %>
							<p class="link-bar">
								<%=link_to "Edit"%> | 
								<%=link_to "Archive"%> | 
								<%=link_to "Delete"%>
							</p>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 goal-form">
					<% if current_user.things.count == 0 %>
						<h2>Get started by inputting something that you want to learn.</h2>
						<h3>Then make sure that you track your progress daily</h3>
					<% else %>
						<h2>What else are you learning?</h2>
					<% end %>
					<%= form_for @thing do |f| %>
						<!-- <%= f.label :title %> -->
						<%= f.text_field :title %>
						<!-- <%= f.label :content %>
						<%= f.text_field :content %> -->

						<%= f.submit "Add New Goal" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
