<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar-main">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "ATTAINIST", root_path, id: "brand-name" %> 
		</div>
		<div class="collapse navbar-collapse" id="mobile-navbar-main">
			<ul class="nav navbar-nav pull-right">
				<%= link_to "About", about_path %>
				<% if user_signed_in? %>
					<%= link_to 'My Profile', current_user %> 
					<%= link_to 'Edit Profile', edit_user_registration_path %> 
					<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
				<% else %>
					<%= link_to "Sign Up", new_user_registration_path %> 
					<%= link_to "Login", new_user_session_path %>
				<% end %>
			</ul>
		</div>
	</div>
</nav>